h1 {
    
}

.columnLabel {
  width: 27%;
  height: 10%;
  color: white;
}

.columnLabelFreeText {
  width: 27%;
  height: 40%
}


.dayLabel {
  color: white;
}

p span {
  display: block;
}

.square {
  flex-direction: column;
  height: 100%;
  margin: 0.1%;
  display: flex;
  width: 45%;
  border-color: #515c4c;
  border-style: solid;
  border-color: green;
  border-width: 3px;
  border-radius: 5px;
  align-items: flex-end;
  flex-grow: 0;
}

.taskDropDown {
  width: 100%;
  height: 10%;
  border-color: purple;
  background-color: aquamarine;
}

.taskSelectedListItem {
  inline-size: 100px;
  width: 17%;
  height: 25%;
  background-color: white;
  border-radius: 10px;
  font-size: x-small;
  text-align: center;
  margin: 2px;
  flex-grow: 0; /* Estää elementtien kasvamisen ylimääräisen tilan saatavilla ollessa */
  display: flex; /* Käytetään flexboxia sisällön keskittämiseen */
  justify-content: center; /* Keskittää vaakasuunnassa */
  align-items: center; /* Keskittää pystysuunnassa */
}

.fontIcon {
  flex: 'display';
  align-items: flex-start;
  font-size: 10px;
  color: white;
}

.taskList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 45%;
  border-radius: 10px;
}

.inputStyle {
  width: 45%;
  padding: 12;
  border-style: solid;
  border-radius: 5px;
  resize: vertical;
  margin-top: 3px;
}

.star {
 color:'grey';
 width: 3%;
 height: 3%;
}





.inputStyleTshirtTwo {
  width: 200%;
  padding: 12;
  border-radius: 5px;
  resize: vertical;
  margin-top: 3px;
}



.multiSelect {
  max-width: 20%;
}


.inputStyleTshirt {
 
  max-height: 60%;
  min-width: 300%;
  max-width: 300%;

  border-style: solid;
  border-radius: 5px;
  
  margin-top: 3px;
}

.inputStyleFreeText {
  width: 45%;
  padding: 12;
  border-style: solid;
  border-radius: 5px;
  resize: vertical;
  margin-top: 3px;
  height: 120%;
}


.smallInput {
  width: 60%;
  padding: 12;
  margin-left: 50;
  border-style: solid;
  border-radius: 5px;
  resize: vertical;
  margin-top: 3px;

}